.venv
venv
.git
.gitignore
.github

__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache

terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars

bedrock-messages.json
bedrock-config.json

*.log
.DS_Store
Thumbs.db